# LOOPS

It is used for doing some kinds of repetative tasks

- for loop
- while loop

# syntax for loop


for element in objectuwanttoitterate:
    code1
    code2

what all object you can iterate?
- list
- string
- tuple
- dict
- set

In [1]:
jaya = "jayasree"

In [3]:
for element in jaya:
    print(element)

j
a
y
a
s
r
e
e

In [9]:
# Range is by default function where it can be ranged by numbers

lst = list(range(1,101))
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [15]:
# Even umber

for i in lst:
    if i%2 == 0:
        print(i,"even number")

2 even number
4 even number
6 even number
8 even number
10 even number
12 even number
14 even number
16 even number
18 even number
20 even number
22 even number
24 even number
26 even number
28 even number
30 even number
32 even number
34 even number
36 even number
38 even number
40 even number
42 even number
44 even number
46 even number
48 even number
50 even number
52 even number
54 even number
56 even number
58 even number
60 even number
62 even number
64 even number
66 even number
68 even number
70 even number
72 even number
74 even number
76 even number
78 even number
80 even number
82 even number
84 even number
86 even number
88 even number
90 even number
92 even number
94 even number
96 even number
98 even number
100 even number

# while loop

- when u dont have any measurable end for any repitative tasks

# Syntax

while condition:
    codeBlock
    codeBlock

In [17]:
password =" "
while password != "Jaya":
    password = input("enter your password ")
else:
    print("password accepted,you can go ahead ")

enter your password Sree
enter your password Jaya
password accepted,you can go ahead

In [1]:
x=0
if(x == 1):
    if(x == 3):
        print ("Inside if")
    else:
        print ("inside else if")
else:
    print("inside else")

inside else

In [2]:
x=9
y=2
z=6
a=x&y|z
print("the valeis :",a)

the valeis : 6

In [3]:
y=5
z=y+(y+10)
print("the valus is :",z)

the valus is : 20