# Object and Data Structure

objects and data structure are different kind of containers in which we can store different types of data,which can be used for programming purpose

# BULID-IN DATA TYPES


# Numeric types

=>Intger(int)-numbers

=>Float(float)-decimal number

=>complex(complex)-i+j


# Text type


=>String(str)-"Character"


# Sequence type

=>List [list]

=>Tuple (tuple)

=>range

# set types

=>Set{set}

=>frozenset({set})


# Mapping type

=> dict

# Boolean type

=>Boolean(bool)
*True
*False

# Binary types

=>Bytes- bytes

=>Bytearray-bytearray(5)

=>memoryview-memoryview(bytes(5))

# Integer- whole number (1,30,98745352)
# Float   - decimal number(10.0,30,7)
# String - charatcer(Jaya)

In [1]:
num1=30
num2=40.0
num3="jaya"

In [2]:
#type is by-default function where the data container all about.
type(num1)

int

In [3]:
type(num2)

float

In [4]:
type(num3)

str

In [5]:
30+7

37

In [6]:
"30"+"7" 
#whenever the value is written within the quotes then it is converted into string

'307'

Basically in python there's a bulit-in -function called int which will convert a string to a number if that string contains only numbers.

In [7]:
int("30")+int("7")

37

In [8]:
hello #whenever the character is typed it must be within quotation

NameError: name 'hello' is not defined

In [9]:
"hello world"

'hello world'

#string can be used single quotations or in double quotation

'hello world'

In [10]:
'Don't study java' 
#during this type of problem,We should use double quotation at starting and ending point or vice versa

SyntaxError: invalid syntax (<ipython-input-10-05f6cd8ca164>, line 1)

In [11]:
"hello world, don't study java"
#or
'hello world,don\'t study java'
#\ is used to tell the next character to be interpreted as text regardless of what normally be interpreted

"hello world,don't study java"

# Basic string Manipuliation

Concatenate-ADDING 2 data like string, number

In [12]:
"jaya"+"sree"

'jayasree'

In [13]:
"jaya"+30+"sree"


#it throws error because the string and values cannot be concatenate

TypeError: can only concatenate str (not "int") to str

To Overcome this we can use string method str()

In [14]:
print("jaya"+str(30)+"sree")

print("jaya"+str(30+7)+"sree")

jaya30sree
jaya37sree

# SPLIT

In [15]:
print("Jaya:Sree".split(":"))
#Where you want to split the string enter the value within the string method.
print("My Name Is "+"hello:Jaya:world".split(":")[1])

['Jaya', 'Sree']
My Name Is Jaya

# BOOLEANS- True,False

In [16]:
"True"

'True'

In [17]:
True

True

In [18]:
30 == 7 # == is a assignment order like +=,-=,etc.

False

In [19]:
30 == 30

True

In [20]:
print(30 != 30)

print("True" == True )

# in 2nd condition the 1st true is string and 2nd condition is a boolean

False
False

# LISTS[]- A list is a collection of order which is changeable

In [21]:
hobbies=["Sleeping","Eating","Exercise"]
print(hobbies)

['Sleeping', 'Eating', 'Exercise']

In [22]:
type(hobbies)

list

In [23]:
print(hobbies[1])
print(hobbies[-1])

Eating
Exercise

In [16]:
list (range(0,10,2))

[0, 2, 4, 6, 8]

In [30]:
a=(list(range(0,10,1)))

In [31]:
a.sort(reverse = True)

In [32]:
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [34]:
a[0] = 3
print(a)

[3, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [35]:
a.insert(0,"7")
a

['7', 3, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [24]:
hobbies[1]="cooking" #change the item.
print(hobbies)

['Sleeping', 'cooking', 'Exercise']

# DICTIONARIES-{"key":"value"}


It is the collection of unordered,changeable and indexed

In [25]:
details={"Name":"Jaya","Age":"20","Sex":"Female"}
details

{'Name': 'Jaya', 'Age': '20', 'Sex': 'Female'}

In [26]:
details["Name"] = "Jayasree" 
details
#changing the value but we cannot change the key

{'Name': 'Jayasree', 'Age': '20', 'Sex': 'Female'}

#